@font-face {
  font-family: Montserrat;
  src: url("../src/fonts/Montserrat-Thin.ttf");
}


:root {
  --body-bg-color: #24272b;

  --primary-color: #e7ecf0;
  --secondary-color: #c0c5c9;

  --card-description-color: #1c0101;
  --card-label-ribbon:#802715;

  --button-color: #c54b34;
  --button-color-hover: #b9462e;

  --link-color: #a73c27;
  --link-color-hover: #96301c ;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #300606;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  text-rendering: optimizeLegibility;

  letter-spacing: .05em
}

code {
  font-family: 'Montserrat', sans-serif;
}